@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  /**
 * @license
 *
 * Font Family: Satoshi
 * Designed by: Deni Anggara
 * URL: https://www.fontshare.com/fonts/satoshi
 * © 2022 Indian Type Foundry
 *
 * Font Styles:
 * Satoshi Variable(Variable font)
 * Satoshi Variable Italic(Variable font)
 * Satoshi Light
 * Satoshi Light Italic
 * Satoshi Regular
 * Satoshi Italic
 * Satoshi Medium
 * Satoshi Medium Italic
 * Satoshi Bold
 * Satoshi Bold Italic
 * Satoshi Black
 * Satoshi Black Italic
 *
*/

  /**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi-Variable.woff2") format("woff2"),
      url("../fonts/Satoshi-Variable.woff") format("woff"),
      url("../fonts/Satoshi-Variable.ttf") format("truetype");
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
  }

  /**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi-VariableItalic.woff2") format("woff2"),
      url("../fonts/Satoshi-VariableItalic.woff") format("woff"),
      url("../fonts/Satoshi-VariableItalic.ttf") format("truetype");
    font-weight: 300 900;
    font-display: swap;
    font-style: italic;
  }

  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi-Light.woff2") format("woff2"),
      url("../fonts/Satoshi-Light.woff") format("woff"),
      url("../fonts/Satoshi-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi-LightItalic.woff2") format("woff2"),
      url("../fonts/Satoshi-LightItalic.woff") format("woff"),
      url("../fonts/Satoshi-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: italic;
  }

  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi-Regular.woff2") format("woff2"),
      url("../fonts/Satoshi-Regular.woff") format("woff"),
      url("../fonts/Satoshi-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi-Italic.woff2") format("woff2"),
      url("../fonts/Satoshi-Italic.woff") format("woff"),
      url("../fonts/Satoshi-Italic.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
  }

  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi-Medium.woff2") format("woff2"),
      url("../fonts/Satoshi-Medium.woff") format("woff"),
      url("../fonts/Satoshi-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi-MediumItalic.woff2") format("woff2"),
      url("../fonts/Satoshi-MediumItalic.woff") format("woff"),
      url("../fonts/Satoshi-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
  }

  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi-Bold.woff2") format("woff2"),
      url("../fonts/Satoshi-Bold.woff") format("woff"),
      url("../fonts/Satoshi-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi-BoldItalic.woff2") format("woff2"),
      url("../fonts/Satoshi-BoldItalic.woff") format("woff"),
      url("../fonts/Satoshi-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: italic;
  }

  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi-Black.woff2") format("woff2"),
      url("../fonts/Satoshi-Black.woff") format("woff"),
      url("../fonts/Satoshi-Black.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi-BlackItalic.woff2") format("woff2"),
      url("../fonts/Satoshi-BlackItalic.woff") format("woff"),
      url("../fonts/Satoshi-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: italic;
  }

  /* 
  Kawkab font
*/

  @font-face {
    font-family: "Kawkab Mono";
    src: url("../fonts/KawkabMono-Light.woff2") format("woff2"),
      url("../fonts/KawkabMono-Light.woff") format("woff"),
      url("../fonts/KawkabMono-Light.eot") format("embedded-opentype"),
      url("../fonts/KawkabMono-Light.ttf") format("truetype"),
      url("../fonts/KawkabMono-Light.ttf");
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: "Kawkab Mono";
    src: url("../fonts/KawkabMono-Regular.woff2") format("woff2"),
      url("../fonts/KawkabMono-Regular.woff") format("woff"),
      url("../fonts/KawkabMono-Regular.eot") format("embedded-opentype"),
      url("../fonts/KawkabMono-Regular.ttf") format("truetype"),
      url("../fonts/KawkabMono-Regular.ttf");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Kawkab Mono";
    src: url("../fonts/KawkabMono-Bold.woff2") format("woff2"),
      url("../fonts/KawkabMono-Bold.woff") format("woff"),
      url("../fonts/KawkabMono-Bold.eot") format("embedded-opentype"),
      url("../fonts/KawkabMono-Bold.ttf") format("truetype"),
      url("../fonts/KawkabMono-Bold.ttf");
    font-weight: 700;
    font-display: swap;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
